%nav.admin
  %ul
    %li= link_to 'Admin Dashboard', admin_root_path
    %li= link_to 'Manage Posts', admin_posts_path
    
    %li= link_to "Manage Account", edit_user_registration_path    
    %li= link_to "Sign Out", destroy_user_session_path, :method => :delete