%section.about
  .inner-section-about
    
    .photograph
      .inner-photograph= image_tag 'http://www.gravatar.com/avatar/b0b2e5b7aa788c536aa50e25ac3fe1a9.png?s=200'
    
    .about-content
      %p I'm Blake Hilscher and this is my development blog where I talk about ruby, javascript, and other geeky endeavors.
  
    .collection-social_media
      %ul
        %li= link_to "LinkedIn", 'http://www.linkedin.com/pub/blake-hilscher/20/56a/902', :target => :blank
        %li= link_to "Github", 'https://github.com/blakehilscher/', :target => :blank
        %li= link_to "Twitter", 'http://twitter.com/#!/blakehil', :target => :blank