nav.admin{
  background:$cd-comp;
  color:$cl-comp;
  ul{
    @include list-float;
  }
  a{
    border-right:1px solid $cm-comp;
    color:$cl-comp;
    padding:4px 10px;
    &:hover{
      text-decoration:none;
      background-color:$cm-comp;
      color:$ch-comp;
    }
  }
}

nav.admin-posts{
  margin:10px 0;
  a{
    @extend .button-comp;
  }
}