.collection-social_media{
  >ul{
    @include list-float;
    >li{
      margin-right:4px;
      margin-bottom:5px;
    }
  }
  a{
    @extend .splat-comp;
    padding:4px 8px;
    border-style:solid;
    border-width:1px;
    @include inline-block;
    @include border-radius(4px);
    &:hover{
      text-decoration:none;
      @extend .splat-comp-d;
    }
  }
}