.collection{
  >ul{
    @include list-reset;
    >li{
      border-bottom:1px solid #ddd;
      padding-bottom:5px;
    }
  }
  .collection-record{
    &.collection-header{
      font-weight:bold;
      background-color:#eee;
      text-transform:uppercase;
    }
    >.inner-record{
      max-height:45px;
      overflow:hidden;
    }
  }
  .record-column{
    float:left;
    width:20%;
    >.inner-column{
      padding:5px 10px 0;
    }
  }
  .record-actions{
    padding-top:5px;
    a{
      @extend .button-base;
      &.record-destroy{
        @extend .button-high;
      }
    }
  } 
}
nav.pagination{
  overflow:hidden;
  margin:10px 0;
  .current,.gap{
    color:$cm-base;
    background:$cl-base;
    display:block;
    float:left;
    padding:5px 10px;
    border:1px solid $cl-base;
  }
  .page,.prev,.next,.first,.last{
    float:left;
    a{
      color:$cm-base;
      background:$ch-base;
      display:block;
      padding:5px 10px;
      border:1px solid $ch-base;
      border-right:1px solid $cl-base;
      border-bottom:1px solid $cl-base;
      &:hover{
        text-decoration:none;
        background:$cl-base;
        color:$cd-base;
        border-color:$cl-base;
      }
    }
  }
  .prev,
  .next{
    a{
    }
  }
  .first,
  .last{
    a{
      background:$cm-base;
      color:$ch-base;
      border-color:$cm-base;
      font-weight:bold;
      &:hover{
        text-decoration:none;
        background:$cm-base;
        color:$ch-base;
        border-color:$cm-base;
      }
    }
  }
}

.collection-social_media{
  >ul{
    @include list-float;
    >li{
      margin-right:4px;
      margin-bottom:5px;
    }
  }
  a{
    @extend .button-comp;
  }
}

.collection-links{
  margin:10px 0;
  >ul{
    @include list-float;
    li{
      margin-right:10px;
    }
  }
}
