html{
  background:#eee;
  
}
body{
  
}
#container{
	width:$width-container;
	margin:0px auto;
	background:#fff;
	border-bottom:1px solid #ddd;
	@include box-shadow(5px 5px 10px #eee);
}
#main{
  overflow:auto;
}
section.main{
  .inner-section-main{
    padding:20px;
  }
}
aside.main{
  float:left;
}