header.application{
  width:$width-container;
  .inner-header-application{
    position:relative;
    padding:10px;
    border:1px solid $cm-blue;
    border-top:0;
    @include background(linear-gradient($ch-blue, adjust-lightness($cl-blue, -5) ) );
    @include box-shadow(#f2f2f2 0px 2px 2px);
  }
  .brand-application{
    margin-left:20px;
  }
  nav.application{
    position:absolute;
    right:30px;
    top:54px;
  }

}

nav.application{
  font-family:$fontstack-trebuchet;
  font-size:15px;
  line-height:19px;
  font-weight:bold;
  ul{ 
    @include list-float(); 
    li{
      margin-left:10px;
      a{
        padding:5px 10px;
        color:#51717a;
        display:block;
      }
      &.nav-active a{
        background-color:$cd-blue;
        color:adjust-lightness($cl-blue, 15);
      }
    }
  }
  a:hover{
    text-decoration:none;
    background-color:$cm-blue;
    color:#fff;
  }
}