header.application{
  width:$width-container;
  .inner-header-application{
    position:relative;
    padding:10px;
    border:1px solid $cm-base;
    @include background(linear-gradient($ch-base, $cl-base) );
    @include box-shadow(#f2f2f2 0px 2px 2px);
  }
  .brand-application{
    margin-left:20px;
  }
  nav.application{
    position:absolute;
    right:30px;
    top:54px;
  }

}

nav.application{
  font-family:$fontstack-trebuchet;
  font-size:15px;
  line-height:19px;
  font-weight:bold;
  ul{ 
    @include list-float(); 
    li{
      margin-left:10px;
      a{
        padding:5px 10px;
        color:$cd-base;
        display:block;
        @include border-radius(4px);
      }
      &.nav-active a{
        background-color:$cd-base;
        color:$ch-base;
        &:hover{
          cursor:default;
        }
      }
    }
  }
  a:hover{
    text-decoration:none;
    background-color:$cm-base;
    color:$ch-base;
  }
}